p{
  text-align: justify;
}
.animal-img{
  width:30vh;
  height: 30vh;
  margin-top: 10px;
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.YNBtn{
  height: 5vh;
  width: 5vh;
}
.nav-green img,.nav-red img{
  height: 7vh;
  width: 7vh;
}
.nav-green{
  color: green;
  float: left;
  font-size: 4vh;
}
.nav-red{
  color: red;
  float: right;
  font-size: 4vh;
}
.Equal{
  color: purple;
}
.Happy{
  color:green;
}
.Sad{
  color:red;
}